/* #results {

} */
nav {
  background: gray;
  width: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  width:960px;
  margin: 0% auto;
}
.hidden {
  display: none;
}
h1 {
  font-size: 0.5rem;
  text-align: center;
}
img {
  border: 1px gray solid!important;
  margin: auto auto;
  display: block;
}
form {
  padding: 10px;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
#results {
  overflow: hidden;
  overflow-y: scroll;
  height: 60vh;
  width: calc(100% - 100px);
  border: 1px gray solid;
  border-radius: 4px;
}
.list-content {
  border: 1px gray solid;
  border-radius: 4px;
  min-width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  height: 300px;
  margin: 1% auto;
  padding: 10px;
}
.desc {
  width: 100%;
  display: none;
  overflow-y: scroll;
  min-height: 100%;
}
