
* {
    font-family: 'Open Sans', sans-serif;
}
.pure-button {
    margin: 1rem 0px;
}
.container {
    display: flex;
    justify-content: center;
    max-width: 70%;
    margin: 0% auto;
}
/* .main-container {
    display: flex;
}
.item-flex {
    justify-content:space-between;
} */
.book-info {
    display: flex;
    flex-direction: column;
}

.book-description {
    max-width: 100%;
}
.ui-menu-item {
    padding: 10px;
}

ul {
    list-style-type: none;

    left: 0px !important;
    top: 7px !important;
    width: 100% !important;
    max-height: 500px;
    margin: 3rem auto 3rem auto;
    overflow: scroll;
    overflow-x: hidden;
    
}

li {
    width: 70%;
    height: 50%;
    padding:10px;
    margin: 0px auto;
    margin-bottom: 1rem;
    border: 2px solid gray;
    font-family: 'Open Sans', sans-serif;
}
.book-info {
    padding: 0px;
}
.img-btn {
    padding: 2%;
}

img.img-container {
    display: block;
    margin: 0px auto;
    border: 2px solid black;
}

.book-description {
    overflow: scroll;
    width: 100% !important;
    height: 100px;
}